/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.grid-1 {
  width: calc(8.33333% - 20px);
}

.grid-2 {
  width: calc(16.66667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.33333% - 20px);
}

.grid-5 {
  width: calc(41.66667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.33333% - 20px);
}

.grid-8 {
  width: calc(66.66667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.33333% - 20px);
}

.grid-11 {
  width: calc(91.66667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 759px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

nav.mobile-menu .mobile-menu-overlay, .main-msg .btn, .who-we-are .title h2, .our-values .title h2, .our-mission .title h2, .who-we-are .title h3, .our-values .title h3, .our-mission .title h3, .who-we-are .title h4, .our-values .title h4, .our-mission .title h4, .who-we-are .description p, .our-values .description p, .our-mission .description p, .values-item, .opening-hours .title h3, .our-menu .title h2, .our-menu .title h3, .our-menu .title h4, .our-menu .btn, .recent-posts .title h2, .recent-posts .title h3, .recent-posts .title h4, .recent-posts .btn, .clients .title h2, .clients .title h3, .clients .title h4, .footer, #copyright p, .contact-us .title h2, .contact-us .title h3, .contact-us .title h4, .contact-us form .btn, .contact-us .how-to-meet {
  text-align: center;
}

.drinks-item {
  text-align: left;
}

nav.mobile-menu .logo, .main-msg .btn, .our-menu .btn, .recent-posts .btn, .posts-item a, .paginate a, .footer a, .contact-us form .btn, .contact-us .how-to-meet .social a {
  text-decoration: none;
}

.posts-item .post-date {
  text-transform: uppercase;
}

.hamburger-menu:before, .hamburger-menu:after, .main-msg, .who-we-are .title h4, .our-values .title h4, .our-mission .title h4, .our-menu .title h4, .recent-posts .title h4, .clients .title h4, .contact-us .title h4 {
  position: absolute;
}

.hamburger-menu, .who-we-are .title, .our-values .title, .our-mission .title, .our-menu .title, .recent-posts .title, .clients .title, .contact-us .title {
  position: relative;
}

nav.mobile-menu .mobile-menu-overlay {
  position: fixed;
}

nav.mobile-menu, .values, .opening-hours, .drinks, .posts, .paginate {
  display: flex;
}

.hamburger-wrapper, .hamburger-menu, .main-msg .btn, .our-menu .btn, .recent-posts .btn, .contact-us form label, .contact-us form .btn {
  display: block;
}

nav.mobile-menu .mobile-menu-overlay {
  display: none;
}

.values, .opening-hours, .drinks, .posts, .paginate {
  flex-direction: row;
}

.values, .drinks, .posts {
  flex-flow: row wrap;
}

nav.mobile-menu {
  align-items: center;
}

.paginate {
  justify-content: center;
}

.values, .drinks, .posts {
  justify-content: space-around;
}

nav.mobile-menu, .opening-hours {
  justify-content: space-between;
}

nav.mobile-menu .mobile-menu-overlay ul {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.125em;
  line-height: 1.6875em;
}

.visible {
  display: block !important;
}

nav.mobile-menu {
  background: #f6f6f6;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 0 16px;
}

nav.mobile-menu .logo {
  font-family: "Kanit", sans-serif;
  font-size: 2.25em;
  color: #242424;
}

nav.mobile-menu .mobile-menu-overlay {
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: #f6f6f6;
  top: 0;
  left: 0;
}

nav.mobile-menu .mobile-menu-overlay ul {
  font-family: "Kanit", sans-serif;
  font-size: 1.5em;
  line-height: 36px;
}

nav.mobile-menu .mobile-menu-overlay ul li {
  margin-bottom: 24px;
}

nav.mobile-menu .mobile-menu-overlay ul li a {
  color: #242424;
  text-decoration: none;
  transition: .3s;
}

nav.mobile-menu .mobile-menu-overlay ul li a:hover {
  color: #c0aa83;
  transition: .3s;
}

.hamburger-menu, .hamburger-menu:after, .hamburger-menu:before {
  width: 24px;
  height: 4px;
  border-radius: 2px;
}

.hamburger-wrapper {
  padding: 12px 0;
  z-index: 1001;
}

.hamburger-menu {
  background: #242424;
  transition: all 0ms 200ms;
}

.hamburger-menu.animate {
  background: #f6f6f6;
}

.hamburger-menu:before {
  content: "";
  left: 0;
  bottom: 8px;
  background: #242424;
  transition: bottom 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  left: 0;
  top: 8px;
  background: #242424;
  transition: top 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header {
  background: linear-gradient(rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.6)), url("../img/bg-header.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main-msg {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #f6f6f6;
  text-align: center;
}

.main-msg p {
  font-family: "Kanit", sans-serif;
  font-size: 7em;
  padding-bottom: 40px;
}

.main-msg .btn {
  font-family: "Kanit", sans-serif;
  font-size: 1.125em;
  max-width: 150px;
  vertical-align: middle;
  padding: 15px 10px;
  cursor: pointer;
  transition: .3s;
  background-color: #c0aa83;
  color: #f6f6f6;
  margin: 0 auto;
}

.main-msg .btn:hover {
  transition: .3s;
  background-color: #af9361;
}

.main-msg .btn:active {
  transform: translateY(2px);
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .main-msg p {
    font-size: 5em;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 759px) {
  .main-msg p {
    font-size: 3em;
    padding-bottom: 20px;
  }
}

.bg-bottom-header {
  margin-top: -40px;
  margin-bottom: 40px;
  background: url("../img/bg-bottom-header.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.about-us {
  padding: 60px 0;
}

.about-us .content {
  background: url("../img/bg-about.png");
  background-position: 0 50%;
  background-repeat: no-repeat;
}

.who-we-are .title h2, .our-values .title h2, .our-mission .title h2 {
  font-family: "Kanit", sans-serif;
  font-size: 2em;
  color: #242424;
}

@media screen and (max-width: 759px) {
  .who-we-are .title h2, .our-values .title h2, .our-mission .title h2 {
    font-size: 1.5em;
  }
}

.who-we-are .title h3, .our-values .title h3, .our-mission .title h3 {
  font-family: "Kanit", sans-serif;
  font-size: 3.5em;
  color: #c0aa83;
}

@media screen and (max-width: 759px) {
  .who-we-are .title h3, .our-values .title h3, .our-mission .title h3 {
    font-size: 2.5em;
  }
}

.who-we-are .title h4, .our-values .title h4, .our-mission .title h4 {
  font-family: "Kanit", sans-serif;
  font-size: 9em;
  transform: translateX(-50%);
  left: 50%;
  top: -20px;
  color: #242424;
  opacity: .05;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .who-we-are .title h4, .our-values .title h4, .our-mission .title h4 {
    font-size: 7em;
  }
}

@media screen and (max-width: 759px) {
  .who-we-are .title h4, .our-values .title h4, .our-mission .title h4 {
    font-size: 4.5em;
  }
}

.who-we-are .description, .our-values .description, .our-mission .description {
  margin-top: 20px;
}

.our-values {
  margin-top: 40px;
}

.our-mission {
  margin-top: 20px;
}

.values-item {
  border: 5px solid #c0aa83;
  padding: 20px;
  margin: 20px 0;
  width: 240px;
  height: 300px;
  transition: .3s;
}

.values-item img {
  margin: 0 auto;
}

.values-item h4 {
  font-family: "Kanit", sans-serif;
  font-size: 1.5em;
  padding: 10px 0;
}

.values-item:hover {
  background: #c0aa83;
  transition: .3s;
}

.opening-hours {
  margin-top: 20px;
}

@media screen and (max-width: 759px) {
  .opening-hours {
    flex-direction: column;
  }
}

.opening-hours .title h3 {
  font-family: "Kanit", sans-serif;
  font-size: 2em;
  color: #c0aa83;
  text-align: left;
  padding-bottom: 20px;
}

@media screen and (max-width: 759px) {
  .opening-hours .title h3 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 759px) {
  .opening-hours .title h3 {
    text-align: center;
  }
}

.opening-hours .description p {
  font-size: 1.5em;
  color: #c0aa83;
  font-family: "Kanit", sans-serif;
}

@media screen and (max-width: 759px) {
  .opening-hours .description p {
    text-align: center;
  }
}

.opening-hours .description span {
  color: #242424;
}

.opening-hours img {
  height: 400px;
  object-fit: cover;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .opening-hours img {
    height: 220px;
  }
}

@media screen and (max-width: 759px) {
  .opening-hours img {
    height: 220px;
    width: 90%;
    margin: 20px auto 0 auto;
  }
}

.our-drinks {
  padding: 60px 0;
  background: linear-gradient(rgba(192, 170, 131, 0.7), rgba(192, 170, 131, 0.8)), url("../img/bg-drinks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.our-menu .title h2 {
  font-family: "Kanit", sans-serif;
  font-size: 2em;
  color: #f6f6f6;
}

@media screen and (max-width: 759px) {
  .our-menu .title h2 {
    font-size: 1.5em;
  }
}

.our-menu .title h3 {
  font-family: "Kanit", sans-serif;
  font-size: 3.5em;
  color: #242424;
}

@media screen and (max-width: 759px) {
  .our-menu .title h3 {
    font-size: 2.5em;
  }
}

.our-menu .title h4 {
  font-family: "Kanit", sans-serif;
  font-size: 9em;
  transform: translateX(-50%);
  left: 50%;
  top: -20px;
  color: #242424;
  opacity: .05;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .our-menu .title h4 {
    font-size: 7em;
  }
}

@media screen and (max-width: 759px) {
  .our-menu .title h4 {
    font-size: 4.5em;
  }
}

.our-menu .btn {
  font-family: "Kanit", sans-serif;
  font-size: 1.125em;
  max-width: 150px;
  vertical-align: middle;
  padding: 15px 10px;
  cursor: pointer;
  transition: .3s;
  background-color: #f6f6f6;
  color: #242424;
  margin: 0 auto;
}

.our-menu .btn:hover {
  transition: .3s;
  background-color: #dddddd;
}

.our-menu .btn:active {
  transform: translateY(2px);
}

.drinks {
  padding: 20px;
}

.drinks-item {
  border: 5px solid #f6f6f6;
  padding: 10px 20px 20px 20px;
  margin: 10px 0;
  width: 600px;
  transition: .3s;
}

.drinks-item h4 {
  font-family: "Kanit", sans-serif;
  font-size: 1.5em;
  padding: 10px 0;
}

.drinks-item p {
  font-size: 1em;
}

.drinks-item:hover {
  background: #f6f6f6;
  transition: .3s;
}

.our-blog {
  padding: 60px 0;
  background: #242424;
}

.recent-posts .title h2 {
  font-family: "Kanit", sans-serif;
  font-size: 2em;
  color: #c0aa83;
}

@media screen and (max-width: 759px) {
  .recent-posts .title h2 {
    font-size: 1.5em;
  }
}

.recent-posts .title h3 {
  font-family: "Kanit", sans-serif;
  font-size: 3.5em;
  color: #f6f6f6;
}

@media screen and (max-width: 759px) {
  .recent-posts .title h3 {
    font-size: 2.5em;
  }
}

.recent-posts .title h4 {
  font-family: "Kanit", sans-serif;
  font-size: 9em;
  transform: translateX(-50%);
  left: 50%;
  top: -20px;
  color: #f6f6f6;
  opacity: .05;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .recent-posts .title h4 {
    font-size: 7em;
  }
}

@media screen and (max-width: 759px) {
  .recent-posts .title h4 {
    font-size: 4.5em;
  }
}

.recent-posts .description {
  margin-top: 20px;
}

.recent-posts .btn {
  font-family: "Kanit", sans-serif;
  font-size: 1.125em;
  max-width: 150px;
  vertical-align: middle;
  padding: 15px 10px;
  cursor: pointer;
  transition: .3s;
  background-color: #c0aa83;
  color: #f6f6f6;
  margin: 0 auto;
}

.recent-posts .btn:hover {
  transition: .3s;
  background-color: #af9361;
}

.recent-posts .btn:active {
  transform: translateY(2px);
}

.posts-item {
  transition: all .3s ease;
  width: 300px;
  margin: 20px 0;
}

.posts-item img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.posts-item h4 {
  font-family: "Kanit", sans-serif;
  font-size: 1.5em;
  color: #c0aa83;
  margin: 10px 0;
  transition: .3s;
}

.posts-item h4:hover {
  color: #f6f6f6;
  transition: .3s;
}

.posts-item p {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #f6f6f6;
}

.posts-item .post-date {
  border-bottom: 5px solid #c0aa83;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-family: "Kanit", sans-serif;
}

.posts-item .posts-item-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
}

.posts-item .posts-item-wrapper:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s ease;
  opacity: .4;
  z-index: 10;
  pointer-events: none;
  width: 100%;
  height: 250px;
}

.posts-item .posts-item-img {
  overflow: hidden;
  transition: all .3s ease;
  position: relative;
}

.posts-item:hover .posts-item-img img {
  transform: scale(1.05);
  transition: all .3s ease-in;
}

.paginate a {
  color: #f6f6f6;
  margin: 0 5px;
}

.paginate .active {
  background: #c0aa83;
  color: #242424;
  padding: 0 5px;
}

.our-clients {
  padding: 60px 0;
  background: #f6f6f6;
}

.clients .title h2 {
  font-family: "Kanit", sans-serif;
  font-size: 2em;
  color: #242424;
}

@media screen and (max-width: 759px) {
  .clients .title h2 {
    font-size: 1.5em;
  }
}

.clients .title h3 {
  font-family: "Kanit", sans-serif;
  font-size: 3.5em;
  color: #c0aa83;
}

@media screen and (max-width: 759px) {
  .clients .title h3 {
    font-size: 2.5em;
  }
}

.clients .title h4 {
  font-family: "Kanit", sans-serif;
  font-size: 9em;
  transform: translateX(-50%);
  left: 50%;
  top: -20px;
  color: #242424;
  opacity: .05;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .clients .title h4 {
    font-size: 7em;
  }
}

@media screen and (max-width: 759px) {
  .clients .title h4 {
    font-size: 4.5em;
  }
}

.footer {
  padding: 30px 0;
  background: #c0aa83;
}

.footer h4 {
  font-family: "Kanit", sans-serif;
  font-size: 1.5em;
  color: #242424;
}

.footer a {
  color: #242424;
  transition: .3s;
}

.footer a:hover {
  color: #f6f6f6;
  transition: .3s;
}

.footer .footer-item {
  margin-bottom: 10px;
}

.footer .social {
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .footer .content {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: left;
  }
  .footer .about {
    width: 300px;
  }
  .footer .pages {
    width: 150px;
  }
}

#copyright {
  background: #af9361;
}

.contact-us {
  padding: 60px 0;
  background: linear-gradient(rgba(192, 170, 131, 0.7), rgba(192, 170, 131, 0.8));
}

.contact-us .title h2 {
  font-family: "Kanit", sans-serif;
  font-size: 2em;
  color: #f6f6f6;
}

@media screen and (max-width: 759px) {
  .contact-us .title h2 {
    font-size: 1.5em;
  }
}

.contact-us .title h3 {
  font-family: "Kanit", sans-serif;
  font-size: 3.5em;
  color: #242424;
}

@media screen and (max-width: 759px) {
  .contact-us .title h3 {
    font-size: 2.5em;
  }
}

.contact-us .title h4 {
  font-family: "Kanit", sans-serif;
  font-size: 9em;
  transform: translateX(-50%);
  left: 50%;
  top: -20px;
  color: #242424;
  opacity: .05;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .contact-us .title h4 {
    font-size: 7em;
  }
}

@media screen and (max-width: 759px) {
  .contact-us .title h4 {
    font-size: 4.5em;
  }
}

.contact-us .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .contact-us .description {
    flex-direction: row;
  }
}

.contact-us form {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .contact-us form {
    width: 600px;
  }
}

.contact-us form label {
  font-family: "Kanit", sans-serif;
  font-size: 1.125em;
  color: #242424;
  margin: 10px 0;
}

.contact-us form input[type="text"], .contact-us form input[type="email"], .contact-us form textarea {
  font-family: "Lato", sans-serif;
  font-size: 1.125em;
  line-height: 1.6875em;
  color: #242424;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  border: 2px solid #f6f6f6;
  background: #f6f6f6;
}

.contact-us form input[type="text"]:hover, .contact-us form input[type="text"]:focus, .contact-us form input[type="email"]:hover, .contact-us form input[type="email"]:focus, .contact-us form textarea:hover, .contact-us form textarea:focus {
  border-color: #dddddd;
  outline: none;
}

.contact-us form textarea {
  height: 120px;
}

.contact-us form .btn {
  font-family: "Kanit", sans-serif;
  font-size: 1.125em;
  max-width: 150px;
  vertical-align: middle;
  padding: 15px 10px;
  cursor: pointer;
  transition: .3s;
  background-color: #f6f6f6;
  color: #242424;
  border: none;
  width: 150px;
  line-height: 1.125em;
  margin-top: 20px;
}

.contact-us form .btn:hover {
  transition: .3s;
  background-color: #dddddd;
}

.contact-us form .btn:active {
  transform: translateY(2px);
}

.contact-us .how-to-meet {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .contact-us .how-to-meet {
    text-align: left;
  }
}

.contact-us .how-to-meet h3 {
  font-family: "Kanit", sans-serif;
  font-size: 1.5em;
}

.contact-us .how-to-meet .social {
  margin-top: 10px;
}

.contact-us .how-to-meet .social a {
  color: #242424;
  font-size: 1.5em;
  transition: .3s;
}

.contact-us .how-to-meet .social a:hover {
  color: #f6f6f6;
  transition: .3s;
}

.mapouter {
  text-align: right;
  height: 500px;
  width: 100%;
  margin: 0px auto;
}

.mapouter #gmap_canvas {
  height: 500px;
  width: 100%;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .mapouter #gmap_canvas {
    height: 400px !important;
  }
}

@media screen and (max-width: 759px) {
  .mapouter #gmap_canvas {
    height: 400px !important;
  }
}

.mapouter .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .mapouter .gmap_canvas {
    height: 400px !important;
  }
}

@media screen and (max-width: 759px) {
  .mapouter .gmap_canvas {
    height: 400px !important;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .mapouter {
    height: 400px !important;
  }
}

@media screen and (max-width: 759px) {
  .mapouter {
    height: 400px !important;
  }
}
